{% extends "admin/base_site.html" %}

{% block title %}#{{ trip.id }} - {{ trip.name }} {{ block.super }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
    <a href="{% url 'admin:luggages_trip_changelist' %}">Trips</a>
    &rsaquo;
    <a href="{% url 'admin:luggages_trip_change' trip.id %}">#{{ trip.id }} - {{ trip.name }}</a>
    &rsaquo; Detail
</div>
{% endblock %}

{% block content %}

<div class="module">
    <h2>Luggages for Trip #{{ trip.id }} - {{ trip.name }}</h2>
    <table style="width:100%">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Number of Luggages</th>
                <th>Total Weight</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for item in luggages %}
            <tr class="row{% cycle '1' '2' %}">
                <td>{{ item.customer.fullname }}</td>
                <td class="num">{{ item.items.count }}</td>
                <td class="num">{{ item.total_weight_per_customer }}kg</td>
                <td class="num">&#8358;{{ item.total_amount }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">Grand Total</td>
                <td class="num">&#8358;{{ trip.total_luggage_amount }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}